<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="connectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\wozni\source\repos\EventLibrary\EventLibrary\ItEventsParser.mdf;Integrated Security=True"/>
    <add key="SmtpPort" value="587"/>
    <add key="sTo" value="abbaba3271@gmail.com"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="author" value="abbaba3271@gmail.com"/>
    <add key="username" value="abbaba3271@gmail.com"/>
    <add key ="password" value="BardzoTrudneHaslo123"/>
  </appSettings>
</configuration>