<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings> 
    <add name="EventsParserEntity" connectionString="metadata=res://*/DB.ModelSqlServer.csdl|res://*/DB.ModelSqlServer.ssdl|res://*/DB.ModelSqlServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DD4I19M;initial catalog=ItEventsParser;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="connectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ItEventsParser;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add key="smtpPort" value="587"/>
    <add key="sTo" value="abbaba3271@gmail.com"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="author" value="abbaba3271@gmail.com"/>
    <add key="username" value="abbaba3271@gmail.com"/>
    <add key ="password" value="BardzoTrudneHaslo123"/>
    <add key ="city" value="warszawa poznan lodz krakow katowice szczecin"/>
    <add key ="cost" value=""/>
    <add key="type" value=""/>
    <add key="time" value="2"/> 
  </appSettings>
</configuration>


